.input {
  width: 100%;
  /* padding: 0.5rem 0.75rem; */
  border: none;
  border-radius: 2px;
  background: transparent;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input:focus {
  border: none;
  outline: none;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid rgb(133, 133, 133);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}

.emailPreset {
  font-size: 12px;
}
